
.header_sec1{
    display: flex;
    justify-content: space-between;
    padding: 1vw 5vw;
    box-sizing: border-box;

}
.logo_main img{
    width: 11rem;
}

.nav_img{
    display: flex;
    gap: 2vw;
}
.nav_img img {
    width: 30px; height: auto;
}


.header_burger img{
    width: 30px; height: auto;
}

.header_menu_box1{
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(173, 216, 230, 0.5);
 display: flex;
 justify-content: right;
 z-index: 999;
   
}
.header_nav_box1{
   width: 100%; max-width: 800px;
    height: 100vh;
 background-color: rgb(202, 231, 241);
 padding: 1vw 5vw;
 box-sizing: border-box;
 text-align: right;

 
}

.header_menu_box2{
    padding-top: 2.5vw;
}

.header_menu_box2 a{
    color: rebeccapurple;
    font-size: 1.3rem;
    font-weight: 700;

}

.header_menu_box2 li{
    padding-bottom: 1vw;
}

.header_cross img{
    width: 30px; height: auto;
}

.depth_flex1{
    padding-bottom: 1vw;
    font-size: 2rem ;
}
.header_menu_box2 h3{
    font-size: 2rem;
    color: maroon;
}

.border_line1{
    width: 100%;
    border-bottom: 2px solid maroon;
}

.border_line2{
    width: 100%;
    border-top: 2px solid maroon;
}







footer{ 
    border-top: 0.6vw solid maroon;
    background-color: rgb(207, 237, 247);
    padding: 3vw 5vw;
    box-sizing: border-box;
    border-bottom: 0.6vw solid maroon;

    & div{
       
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;

        & h2{
            color: maroon;
            font-size: 1.5rem;
            font-weight: 400;
            padding-bottom: 1vw;


        }

        & h3{
              color: rebeccapurple;
            font-size: 1rem;
            font-weight: 400;
        }

        & .ul11{
            text-align: right;

            padding-bottom:  1vw;

            & a{
                color: maroon;
                font-size: 1.2rem;

            }
            

         
        }

        & .ul2{
             display: flex;
             gap: 1vw;
             padding-bottom: 1vw;

            & img{
                width: 2vw;
            }
        }
    
 

   @media screen and (max-width: 820px) {

    display: block;

    
        & .ul2{
           

            & img{
                width: 5vw;
            }
        }
     
                & .ul11{
            text-align: left;

          

         
        }

   }

}
}
  @media screen and (max-width: 500px) {

    footer{
    background-color: rgb(207, 237, 247);
    padding: 3vw 5vw;
    box-sizing: border-box;

    & div{
       
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;

        & h2{
            color: maroon;
            font-size: 1.2rem;
            font-weight: 400;
            padding-bottom: 1vw;


        }

        & h3{
              color: rebeccapurple;
            font-size: 1rem;
            font-weight: 400;
        }

        & .ul11{

            padding-bottom:  1vw;

            & a{
                color: maroon;
                font-size: 0.8rem;

            }
            

         
        }

        & .ul2{
             display: flex;
             gap: 1vw;
             padding-bottom: 1vw;

            & img{
                width: 10vw;
            }
        }
     
 

  

    display: block;

    
     
     

   }
}
}