.story_sec1{


    & h2{
        color: maroon;
        font-size: 4vw;
        font-weight: 500;
        text-align: center;
    }

    & img{
        width: 10vw;
    }
        & .rotate_img{
    animation: rotate_image 10s linear infinite;
    transform-origin: 50% 50%;
    }
    margin: 0 auto;

    & .rotate_img2{
    animation: rotate_image1 15s linear infinite;
    transform-origin: 50% 50%;
    width: 7vw;
    }
     @media screen and (max-width: 1000px) {
        
    & h2{
        color: maroon;
        font-size: 7vw;
        font-weight: 500;
        text-align: center;
    }
     }

}

@keyframes rotate_image{
	100% {
    	transform: rotate(360deg);
    }
}

 
@keyframes rotate_image1{
	0% {
    	transform: rotate(20deg);
    }
    	35% {
    	transform: rotate(-50deg);
    }
    70% {
    	transform: rotate(20deg);
    }
    	100% {
    	transform: rotate(-50deg);
    }
}

.story_sec2{
    & div{
        width: 30%;
        margin: 0 auto;
    }    

    & img{
        width: 30vw;
    }
    & h2{
             color: maroon;
        font-size: 4vw;
        font-weight: 500;
        text-align: center;
    }
}

.story_sec3{
    & h3{
        color: maroon;
           text-align: center;
        padding: 1vw;
        font-size: 1.8rem;
        font-weight: 400;
    }

    & h4{
        color: maroon;
             text-align: center;
        padding: 1vw;
        font-size: 1.8rem;
        font-weight: 400;
    }

    & p{
        color: rgb(8, 8, 60);
             text-align: center;
        padding: 1vw;
        font-size: 1.6rem;
        font-weight: 400;
    }

    & h2{
        color: maroon;
        text-align: center;
        padding: 1vw;
        font-size: 2rem;
        font-weight: 500;
    }
    padding-bottom: 15vw;

    & .img_box1{
        width: 25%;
        margin: 0 auto;
        padding: 5vw 0;
        box-sizing: border-box;
    }

    & .img_box1>img{
        width: 25vw;
    }
    & .dis_box2{
        width: 30%;
        display: flex;
        gap: 2vw;
        margin: 0 auto;
        padding: 5vw 0;
        box-sizing: border-box;
        & img{
            width: 10vw;
        }
    }
        & .rotate_img2{
    animation: rotate_image1 15s linear infinite;
    transform-origin: 50% 50%;
    width: 7vw;
    }

     @media screen and (max-width: 820px) {
         & h3{
        color: maroon;
           text-align: center;
        padding: 1vw;
        font-size: 1.1rem;
        font-weight: 400;
    }

    & h4{
        color: maroon;
             text-align: center;
        padding: 1vw;
        font-size: 1.1rem;
        font-weight: 400;
    }

    & p{
        color: rgb(8, 8, 60);
             text-align: center;
        padding: 1vw;
        font-size: .9rem;
        font-weight: 400;
    }

    & h2{
        color: maroon;
        text-align: center;
        padding: 1vw;
        font-size: 1.3rem;
        font-weight: 500;
    }
   
     }
}


